{% extends "index.html" %}

{% block content %}
<h2>Evaluate the relationship from the SOURCE to the TARGET arguments.</h2>
  <p>As part of our research, you'll be presented with a pair of argumentative sentences and tasked to annotate the relationship from one argument to the other. This relationship can be:</p>
  <ul>
    <li><strong style="color: #28a745">Support</strong>: The source argument supports the target argument by either providing an example, a fact or a conclusion similar to it.</li>
    <li><strong style="color: #dc3545">Attack</strong>: The source argument attacks the target argument by either providing counterexamples, counterfacts or a conclusion that contradicts it.</li>
    <li><strong style="color: #6c757d">Neutral</strong>: The source argument is unrelated to the target argument, it may be discussing a completely different topic or does not either attack or support its claims.</li>
  </ul>
  <div id="example_pairs">
    {% for pair in pairs %}
    <h3>Example {{ loop.index }}</h3>
      <div class="argument-pair">
        <div class="argument">
            <strong>[TARGET] Argument:</strong>
            <p>{{ pair.argTrg }}</p>
        </div>
        
        <div class="relation {{ pair.relation }}-fixed">
            <label for="predictedRelation">Relationship:</label>
            <select name="predictedRelation" disabled>
                <option value="support" {% if pair.relation == 'support' %}selected{% endif %}>Support</option>
                <option value="attack" {% if pair.relation == 'attack' %}selected{% endif %}>Attack</option>
                <option value="neutral" {% if pair.relation == 'neutral' %}selected{% endif %}>Neutral</option>
            </select>
        </div>
        
        <div class="argument">
            <strong>[SOURCE] Argument:</strong>
            <p>{{ pair.argSrc }}</p>
        </div>
      </div>
      <p class="example_explanation">
        <u>Explanation:</u></br>
        {{ pair.explanation }}
      </p>
    {% endfor %}
  </div>
  <p>
    We use a cookie to save your progress so that you may leave and pick up where you left off anytime without needing user authentication. </br>
    If you clear your cookies, you will lose your progress and have to start over.
  </p>
  <a href={{ url_for("start") }} class="button">
    {% if session['uuid'] %}
      Continue annotation
    {% else %}
      Start annotation
    {% endif %}
  </a>
  {% endblock %}